.wrapper {
    width: 100%;
    height: 100%;
    padding: 8px;
    background: var(--background);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    border: 1px solid #cacaca;
}

.heading {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 31.32px;
    word-wrap: break-word
}

.pixel {
    color: var(--text-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 31.32px;
    word-wrap: break-word
}