.header {
    margin-bottom: 3rem;
}

.header code {
    background: none;
    border: none;
    color: #52525B;
    font-size: 1.25rem;
}

.custom {
    margin: 0 0.5em;
}

.wrapper {
    display: flex;
    align-items: center;
}

.img {
    width: 1.3rem; 
    margin-right: 0.25rem
}