.typography {
    display: flex;
    flex-direction: column;
    > div {
      color: #d34d12;
      font-weight: 750;
      font-size: 32px;
      padding-bottom: 62px;
      line-height: 18px;
    }
    >label {
      padding-bottom: 32px;
    }
  }